<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - SUZA Connect</title>
    <link rel="stylesheet" href="about-us.component.css">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>SUZA Connect</h1>
            <nav>
                <a [routerLink]="['/home']" class="home" style="cursor: pointer; text-decoration: none;">HOME</a>
                <a [routerLink]="['/contacts']" class="contacts" style="cursor: pointer; text-decoration: none;">CONTACTS</a>
                <a [routerLink]="['/sign-up']" class="sign-up" style="cursor: pointer; text-decoration: none;">SIGNUP</a>
            </nav> 
        </div>
    </header>
    <div class="about-us">
        <h1>About Us</h1>
        <p>Welcome to SUZA Connect, your go-to web app for seamless 
          interaction with the State University of Zanzibar (SUZA). Our platform 
          bridges the gap between students, faculty, and administrative services, 
          providing a user-friendly interface to access important information, resources,
           and support. Whether you're checking course schedules, accessing academic materials, 
           or staying updated with campus news, SUZA Connect is designed to enhance your university experience. 
           Join our community 
          and explore the innovative features that make connecting with SUZA easier
           and more efficient than ever before.</p>
        <img src="../assets/images/suz_aconnect_1.jpg" alt="About Us Image">
        <div class="about-us-content">
          <h2>Our Mission</h2>
          <p>At SUZA Connect, our mission is to 
            empower the State University of Zanzibar community by providing
             a seamless and efficient digital platform that enhances communication, 
             access to resources, and overall academic experience. We strive to foster a 
             connected and supportive environment where students, faculty, and staff can easily 
             navigate university services, stay informed, and collaborate effectively. Our commitment 
             is to continually innovate and improve our app to meet the evolving 
            needs of our users, ensuring that SUZA remains at the forefront of digital transformation
             in higher education.</p>
          <h2>Our Vision</h2>
          <p>Our vision at SUZA Connect is to revolutionize the digital experience for 
            the State University of Zanzibar community. We aspire to be the premier platform that 
            seamlessly integrates academic and administrative functions, ensuring accessibility, efficiency, 
            and innovation. By fostering an environment of digital excellence, we aim to support and enhance the 
            educational journey of every student, faculty member, and staff. SUZA Connect envisions a future where 
            technology and education go hand in hand, empowering our university to achieve new levels of 
            success and recognition.</p>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <p>Developed by <a href="https://www.linkedin.com/in/ramadhani-ramadhani-8b5045270" target="_blank">&#64;ramah_yasyn</a> | All rights Reserved | 2024</p>
            <nav>
                <a href="#">Terms and Conditions</a>
                <a href="#">Privacy Policy</a>
            </nav>
        </div>
    </footer>
    <script src="scripts.js"></script>
</body>
</html>
