<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Desktop - 1</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Katibeh:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="home.component.css" />
  </head>
  <body>
    <div class="desktop-1">
      <img class="rectangle-7" src="../assets/images/rectangle_7_x2.png" />
      <div class="container-3">
        <div class="suza-connect-transpa-1">
        </div>
       <!-- home.component.html -->
<div class="container-2">
  <div class="frame-7">
    <a [routerLink]="['/home']" class="home" style="cursor: pointer; text-decoration: none;">HOME</a>
    <a [routerLink]="['/about-us']" class="about-us" style="cursor: pointer; text-decoration: none;">ABOUT US</a>
    <a [routerLink]="['/contacts']" class="contacts" style="cursor: pointer; text-decoration: none;">CONTACTS</a>
    
  </div>
  <div class="frame-8">
    <a [routerLink]="['/sign-up']" class="sign-up" style="cursor: pointer; text-decoration: none;">SIGN UP</a>
  </div>
</div>
      </div>
      <br><br>
      <div class="welcome-to-suza-connect">
      WELCOME TO  SUZA CONNECT
      </div>
      <div class="integrated-learning-management-system-and-social-platform-for-state-university-of-zanzibar-students">
      Integrated Learning Management System and Social Platform For State University of Zanzibar Students 
      </div>
      <div class="container-6">
        <div class="rectangle-3">
        </div>
        <div class="frame-2">
          <div class="collaborative-academic-environment">
          Collaborative academic environment.
          </div>
          <span class="course-management">
          Course Management.
          </span>
        </div>
      </div>
      <div class="container-7">
        <div class="frame-3">
          <div class="direct-messaging">
          Direct messaging.
          </div>
          <span class="announcements">
          Announcements.
          </span>
        </div>
        <div class="rectangle-4">
        </div>
      </div>
      <div class="container-4">
        <div class="rectangle-5">
        </div>
        <div class="frame-4">
          <div class="personal-dashboard">
          Personal Dashboard.
          </div>
          <span class="calendar-integration">
          Calendar Integration.
          </span>
        </div>
      </div>
      <div class="container">
        <div class="frame-5">
          <div class="groups-and-clubs">
          Groups and Clubs.
          </div>
          <span class="learning-materials">
          Learning Materials.
          </span>
        </div>
        <div class="rectangle-6">
        </div>
      </div>
      <div class="container-1">
        <div class="container-5">
          <div class="frame-9">
            <span class="developed-byramah-yasyn">
              Developed   by <a href="https://www.linkedin.com/in/ramadhani-ramadhani-8b5045270" target="_blank" style="text-decoration: none; color: white ;">&#64;ramah_yasyn</a>
            </span>                    
            <span class="all-rights-reserved-2024">
               |  All rights Reserved | 2024
            </span>
          </div>
          <div class="frame-1">
            <div class="twitter" style="position: relative; height: 20px;">
              <a href="https://twitter.com/rm_tech_tz" target="_blank" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-decoration: none;">
                <!-- Twitter content or icon -->
              </a>
            </div>
            <div class="instagram" style="position: relative; height: 20px;">
              <a href="https://instagram.com/rm_tech.tz
              " target="_blank" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-decoration: none;">
                <!-- Instagram content or icon -->
              </a>
            </div>
            <div class="linkedin" style="position: relative;  height: 20px;">
              <a href="https://www.linkedin.com/in/ramadhani-ramadhani-8b5045270" target="_blank" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-decoration: none;">
                <!-- LinkedIn content or icon -->
              </a>
            </div>
            <div class="facebook" style="position: relative;  height: 20px;">
              <a href="https://www.facebook.com/profile.php?id=100087766009297&mibextid=ZbWKwL" target="_blank" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; text-decoration: none;">
                <!-- Facebook content or icon -->
              </a>
            </div>
          </div>
        </div>
        <div class="frame-10">
          <span class="terms-and-conditions">
          Terms and Conditions
          </span>
          <span class="privacy-policy">
          Privacy Policy
          </span>
        </div>
      </div>
    </div>
  </body>
</html>